body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}


/* --------------------------------------------------------------------------- */


/* --------Cabeçalho-------- */

.header {
    padding-top: 9px;
    background: hsl(20, 14%, 4%, 0.8);
    width: 100%;
    height: 73px;
    border-bottom: 5px solid #1190cb;
    position: fixed;
}

.fundo {
    padding-top: 20px;
    background: #353434;
    width: 100%;
    height: 1300px;
}

.caixa {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.header span {
    margin-top: 2px;
    float: left;
}

.header nav {
    margin-top: 5px;
    float: right;
}

ul {
    margin-bottom: 5px;
    list-style: none;
}

.list_not {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
}

.list_not:hover {
    color: #1190cb;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Fim do Header */


/* Dashboard */

.pag_dashboard {
    padding-top: 5%;
}

.container {
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
    padding-top: 25px;
}

.box_dasboard {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.div_btn {
    margin: auto;
    max-width: 50%;
}

.btn_azul {
    margin-left: 25px;
    height: 50px;
    width: 120px;
    background-color: #1190cb;
    color: white;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer
}

.box_chartPrincipal {
    padding-top: 25px;
    margin-top: 15px;
    height: 400px;
    width: 10 0%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.chartPrincipal {
    width: 100%;
    height: 300px;
}

.container_2Boxes {
    margin: auto;
    max-width: 100%;
}

.box_chartPizza {
    margin-top: 40px;
    height: 430px;
    width: 430px;
    float: left;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.chartPizza {
    margin: 15px auto;
    height: 400px;
    width: 400px;
}

.box_media {
    margin-top: 40px;
    height: 430px;
    width: 430px;
    float: right;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.media {
    margin: 15px auto;
    height: 400px;
    width: 400px;
}

.media_temp {
    padding-top: 65px;
}

.media_umi {
    padding-top: 65px;
}

.media_temp span {
    font-size: 155px;
}

.media_umi span {
    font-size: 155px;
}


/* FOOTER */

.rodape {
    background-color: #303030;
    color: white;
    width: 100%;
    height: 100px;
    padding-top: 2%;
}

.box_rodape {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.logo_bandtec {
    height: 80px;
    float: left;
}

.copyright {
    text-align: center;
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 25%;
    margin-top: 35px;
}

.logo_termosense {
    height: 80px;
    float: right;
}

.img {
    width: 400px;
    margin-left: 300px;
    margin-top: 280px;
}

.texto_meio {
    background-size: cover;
    color: black;
    padding-top: -100px;
    text-align: justify;
    padding-right: 60px;
    margin-top: 80px;
    margin-left: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao_contato {
    color: #fdffff;
    background-color: #1190cb;
    border: 0;
    padding: 10px 17px;
    border-radius: 5px;
    cursor: pointer;
}

.input_padrao {
    width: 300px;
    height: 25px;
}